@model IEnumerable<RecipeMvc.Facade.PlannedRecipeView>
@{
    ViewData["Title"] = "Päeva toitumiskava";
    var date = (DateTime)ViewBag.Date;
    var recipes = (List<Recipe>)ViewBag.AvailableRecipes!;
}

<h2>@date.ToShortDateString()</h2>

<form asp-action="AddToDay" method="post">
    <input type="hidden" name="date" value="@date" />
    <div class="row mb-3">
        <div class="col">
            <select name="recipeId" class="form-select">
                @foreach (var r in recipes)
                {
                    <option value="@r.Id">@r.Title</option>
                }
            </select>
        </div>
        <div class="col">
            <select name="mealType" class="form-select">
                @foreach (var type in Enum.GetValues(typeof(RecipeMvc.Aids.Enums.MealType)))
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Lisa</button>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Toidukord</th>
            <th>Retsept</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.OrderBy(m => m.MealType))
        {
            <tr>
                <td>@m.MealType</td>
                <td>@m.RecipeTitle</td>
            </tr>
        }
    </tbody>
</table>
