@using RecipeMvc.Data
@using RecipeMvc.Domain
@using RecipeMvc.Aids

@model IEnumerable<PlannedRecipeView>
@{
    ViewData["Title"] = "Päeva toitumiskava";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = (DateTime)ViewBag.Date;
    var recipes = ViewBag.AvailableRecipes as List<PlannedRecipeView> ?? new List<PlannedRecipeView>();
}

<h2>@date.ToShortDateString()</h2>

<form asp-action="AddToDay" method="post">
    <input type="hidden" name="date" value="@date" />
    <div class="row mb-3">
        <div class="col">
            <select name="recipeId" class="form-select">
                @foreach (var r in recipes)
                {
                    <option value="@r.Id">@r.RecipeTitle</option>
                }
            </select>
        </div>
        <div class="col">
            <select name="mealType" class="form-select">
                @foreach (var type in Enum.GetValues(typeof(RecipeMvc.Aids.MealType)))
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Lisa</button>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Day</th>
            <th>mealType type</th>
            <th>Recipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Enum.GetValues(typeof(RecipeMvc.Aids.Enums.Days)))
        {
            <tr>
                <td>@day</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @* // Vana Modeli põhine tabeli sisu:
        @* @foreach (var m in Model.OrderBy(m => m.MealType))
        {
            <tr>
                <td>@Enum.GetName(typeof(RecipeMvc.Aids.Enums.Days), m.MealType)</td>
                <td>@m.MealType</td>
                <td>@m.RecipeTitle</td>
                <td>
                    <form asp-action="RemoveFromDay" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@m.Id" />
                        <input type="hidden" name="date" value="@date" />
                        <button class="btn btn-danger btn-sm" type="submit">Eemalda</button>
                    </form>
                </td>
            </tr>
        } *@
    </tbody>
</table>



